<!Doctype HTML>
<html>
<head>
<meta charset="utf-8">
<title>Angular Project</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<link rel="stylesheet" type="text/css" href="style20.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body ng-app="app" ng-controller="mainCtrl">
<div class="page-header">
<h1 class="main-header">Nature Chat</h1>
<p class="main-header" id="description">Why go outside when you can just stay inside and chat with a robot who thinks you are on a nature hike IRL?"</p>
</div>
<div class="container">
<form name="userForm" ng-submit="submitNew(userForm)" role="form">
	<div>
	<div class="col-lg-4 col-lg-offset-4">
	<label for="submission">You:</label>
	<input ng-model="userForm.submission" type="submission" class ="form-control" id="yourText">
	<span class="input-group-btn" id="submit-button">
	<button type="submit" class="btn btn-default btn-lg">Submit</button>
	</span>
	</div>
	</div>
</form>
</div>
<!--
<ul>
	<li ng-repeat="log in logs">
		<p>{{log.userText}}</p>
	</li>
</ul>
-->
<br>
<br>
<div class="container">
<table class="table" id="myTable">
	<thead>
		<tr>
			<th>Chat Log</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="log in logs" ng-class="{'info' : log.type > 0}">
			<td>{{log.userText}}</td>
		</tr>
</table>
</div>
<script src="script34.js"></script>
</body>
</html>
