#submit-button {
text-align: center;
}
table {
border-radius: 10px; 
}
body {
background-image: url("http://www.planwallpaper.com/static/images/Fall-beautiful-nature-22666764-900-562.jpg");
background-size: cover; 
}
#myTable {
background : white;
}
.main-header {
color: white; 
}
#description {
font-size: 20px;
}
#topOfPage {
position: relative; 
left: 15px; 
}
