#submit-button {
text-align: center;
}
table {
border: 1px solid gray; 
}
body {
background-image: url("http://www.planwallpaper.com/static/images/Fall-beautiful-nature-22666764-900-562.jpg");
background-size: cover; 
}
#myTable {
background : white;
}
h1 {
color: white; 
}
